@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&family=Pacifico&display=swap");

:root {
  --font-prim: "Open Sans", sans-serif;
  --font-second: "Fredoka One", cursive;
  --font-logo: "Pacifico", cursive;

  --prim-9: #03045eff;
  --prim-8: #023e8aff;
  --prim-7: #0077b6ff;
  --prim-6: #0096c7ff;
  --prim-5: #00b4d8ff;
  --prim-4: #48cae4ff;
  --prim-3: #90e0efff;
  --prim-2: #ade8f4ff;
  --prim-1: #caf0f8ff;

  --gray-1: #f8f9faff;
  --gray-2: #e9ecefff;
  --gray-3: #dee2e6ff;
  --gray-4: #ced4daff;
  --gray-5: #adb5bdff;
  --gray-6: #6c757dff;
  --gray-7: #495057ff;
  --gray-8: #343a40ff;
  --gray-9: #212529ff;

  --dark-red: #ee6055ff;
  --light-red: #ff9b85ff;
  --dark-green: #60d394ff;
  --light-green: #aaf683ff;
  --yellow: #ffd97dff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

#content {
  font-family: "Open Sans", sans-serif;
  background-color: var(--gray-1);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

#header {
  padding-left: 60px;
  background-color: var(--prim-8);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  align-items: center;
  padding: 16px;
}

#nav-logo {
  font-family: var(--font-logo);
  font-size: 3rem;
  color: var(--gray-1);
}

.nav-list {
  list-style-type: none;
  font-family: var(--font-second);
  font-size: 2.5rem;
  text-transform: capitalize;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  color: var(--gray-1);
}

.nav-list .nav-item > a {
  text-decoration: none;
  color: var(--gray-1);
}

.nav-list .nav-item > a:hover {
  text-decoration: none;
  color: var(--gray-5);
}

#icon-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

#icon-container > i {
  font-style: normal;
  font-size: 2rem;
  color: var(--gray-1);
}

#main {
  position: relative;
}

#main-background {
  background-image: url("./assets/img/background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#main-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: var(--gray-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#main-content > p:first-child {
  font-size: 4rem;
  font-weight: bold;
}

#main-content > p:nth-child(2) {
  font-size: 1.5rem;
}

.btn.order {
  height: 72px;
  width: 256px;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  border: solid var(--gray-1) 2px;
  color: var(--gray-1);
  border-radius: 8px;
}

.btn.order:hover {
  background-color: var(--gray-1);
  color: var(--gray-9);
  cursor: pointer;
}

.menu.main {
  background-color: var(--gray-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu.item {
  background-color: var(--gray-8);
  width: 70%;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  border: solid black 1px;
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
  color: white;
}
